<div class="container">
  <div class="navigation">
    <div class="navigation-shape">
      <div class="tab-group">
        <div class="shape-border"></div>
        <div class="shape">
          <span class="tab" *ngFor="let item of navigationTabs">{{
            item | uppercase
          }}</span>
        </div>
      </div>
      <div class="tab-group">
        <div class="shape">
          <span class="tab" *ngFor="let item of detailTabs">{{
            item | uppercase
          }}</span>
        </div>
      </div>
      <div class="tab-group">
        <div class="shape">
          <span class="tab active" *ngFor="let item of selectedTab">{{
            item | uppercase
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <i
    class="fa-solid theme-icon"
    [ngClass]="isDarkMode ? 'fa-sun font-light' : 'fa-moon'"
    (click)="toggleTheme()"
  ></i>
</div>
