$primary-color: #003366;
$secondary-color: #ffffff;
$border-radius: 15px;

.navigation {
  border-radius: $border-radius;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0);
}
.navigation-shape {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 125px;
  width: 100%;
  height: 100px;

  background: var(--bg-color);
  // clip-path: polygon(
  //   0% 0%,
  //   20% 5%,
  //   23% 55px,
  //   77% 55px,
  //   80% 5%,
  //   100% 0%,
  //   100% 100%,
  //   0% 100%
  // );
  border-radius: 10px;

  mask-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'><path d='M0 0 L18 0.5 A6 10 0 0 1 21 2 Q23 4.5 24.9 4.6 L75 4.6 Q76.9 4.5 79 2 A6 10 0 0 1 82 0.5 L100 0 L100 100 L0 100 Z' fill='white'/></svg>");

  mask-size: cover;

  mask-repeat: no-repeat;

  // filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 1));
}

.tab-group {
  margin: 10px 10px 10px 10px;
  height: 50px;
  z-index: 1000;
}
.shape {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-top: 2px solid rgb(0, 0, 163, 0.5);
  border-left: 2px solid rgb(0, 0, 163, 0.5);
  clip-path: polygon(
    0 0,
    calc(100% - 15px) 0,
    100% 15px,
    100% 100%,
    15px 100%,
    0 calc(100% - 15px)
  );
}

.tab {
  padding: 15px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    background: linear-gradient(to right, rgb(0, 0, 163), rgb(0, 0, 78));
    color: white;
    clip-path: polygon(
      0 0,
      calc(100% - 15px) 0,
      100% 15px,
      100% 100%,
      15px 100%,
      0 calc(100% - 15px)
    );
  }
}

.active {
  background: $secondary-color;
  color: $primary-color;
  font-weight: bold;
}

.theme-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.font-light {
  color: white;
}
